.certifications {
    display: flex;
    flex-direction: column;
}
.certifications img {
    padding-bottom: 15px;
}
.certifications a:link {
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    transition: .5s;
}
.certifications a:visited {
    color: white;
    text-decoration: none;
}
.certifications a:hover {
    color: #29ABE2;
    transition: .5s;
    letter-spacing: 2px;
}
.design {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
}
.design > .photoshop {
    display: flex;
    flex-direction: column;
}
.design > .illustrator {
    display: flex;
    flex-direction: column;
}
.design > .visual-design {
    display: flex;
    flex-direction: column;
}
.code {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
}
.code > .html5 {
    display: flex;
    flex-direction: column;
}
.code > .html-and-css {
    display: flex;
    flex-direction: column;
}
.code > .javascript {
    display: flex;
    flex-direction: column;
}
