.certifications {
    display: flex;
    flex-direction: column;
    font-family: 'Itim', cursive;
    font-family: 'Montserrat', sans-serif;
}
.certifications img {
    padding-bottom: 15px;
}
.certifications a:link {
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    transition: .5s;
}
.certifications a:visited {
    color: white;
    text-decoration: none;
}
.certifications a:hover {
    color: #29ABE2;
    transition: .5s;
    letter-spacing: 2px;
}
.design {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
}
.design > .photoshop {
    display: flex;
    flex-direction: column;
}
.design > .illustrator {
    display: flex;
    flex-direction: column;
}
.design > .visual-design {
    display: flex;
    flex-direction: column;
}
.code {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
}
.code > .html5 {
    display: flex;
    flex-direction: column;
}
.code > .html-and-css {
    display: flex;
    flex-direction: column;
}
.code > .javascript {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1300px) {
    .certifications > .design {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .certifications > .code {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .certifications a {
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 610px) {
    .certifications img {
        width: 200px;
    }
    .certifications > .design > .visual-design a {
        width: 250px;
    }
    .certifications > .design > .visual-design img {
        padding-left: 25px;
    }
    .header h1 {
        font-size: 40px;
    }
    .certifications > .code > .html-and-css a {
        width: 250px;
    }
    .certifications > .code > .html-and-css img {
        padding-left: 25px;
    }
}
