.information {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    line-height: 60px; 
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
}
.information img {
    padding-bottom: 100px;
}
.information > .info {
    border: solid 9px #29ABE2;
    transition: border-width 1.0s linear;
    padding-right: 40px;
    padding-left: 80px;
    width: 725px;
}
.information > .info a:link {
    text-decoration: none;
    color: white;
    transition: .5s;
}
.information > .info a:visited {
    text-decoration: none;
    color: white;
}
.information > .info a:hover {
    text-decoration: none;
    color: #29ABE2;
    letter-spacing: 2px;
    transition: .5s;
}
@media screen and (max-width: 1160px) {
    .information > .info {
        border-left: 0px;
        border-right: 0px;
        width: 500px;
    }
}
@media screen and (max-width: 860px) {
    .information > .info {
        width: 300px;
        padding-left: 0px;
        font-size: 25px;
    }
}
@media screen and (max-width: 580px) {
    .information > .info {
        padding-left: 115px;
    }
}
@media screen and (max-width: 630px) {
    .information img {
        width: 250px;
    }
}
@media screen and (max-width: 700px) {
    .information > .info {
        font-size: 16px;
    }
}
@media screen and (max-width: 530px) {
    .information > .info {
        padding-left: 90px;
    }
}