body{
    margin: 0px;
    background-color: #2C2F33;
    padding-left: 215px;
}
.nav img {
   width: 68%;
}
.nav {
    display: flex;
    align-items: center;
    padding-right: 15px;
    font-size: 20px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-around;
}
.nav a:link {
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: whitesmoke;
    transition: .5s;
}
.nav a:visited {
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: white;
}
.nav a:hover {
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: #29ABE2;
    letter-spacing: 2px;
    transition: .5s;
}
.header {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}


